@font-face {
    font-family: 'Times New Roman', Times, serif;
    font-family: hamlet;
    src: url(gotico-antiqua_Hamlet-Tertia-18/Hamlet-Tertia18.otf);
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(243, 202, 202, 0.414);
    font-family: hamlet;
  }
h1 {
    font-size: 20px;
    z-index: -100;
    position: fixed;
    color: rgb(103, 40, 40);
    margin-top: -8%;
    box-shadow: 0px 0 47px 0 rgb(76, 0, 0);
   
}
  img {

    width: 90%;
    margin: 2%;
  }

  p {
    columns: 2;
    width: 90%;
    column-gap: 11%;
    margin-left: 3%;
    margin-top: 10%;
  
  
  }
  .gutter {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .left-gutter {
    width: 50%;
    height: 100%;
    box-shadow: 0px 0 47px 0 rgb(76, 0, 0);
  }

  .right-gutter {
    width: 50%;
    height: 100%;
    box-shadow: 0px 0 47px 0 rgb(76, 0, 0);
  }